.users {
  display: flex;

  width: 100%;
  height: 100%;

  app-user-list,
  app-user-form {
    width: 100%;
    height: 100%;
  }

  app-user-list:hover,
  app-user-form:hover {
    background: #f2f2f2;
  }
}
