<div class="login-form">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
    </div>

    <div class="form-group" style="display: flex;">
      <button class="btn btn-primary">Login</button>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-light" disabled>Register</button>
      <div class="spacer"></div>
      <button type="button" class="btn btn-danger" disabled>Reset password</button>
    </div>
  </form>
</div>
